<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   PrivacyInfo.xcprivacy
   Go Map!!

   Created by Bryce Cogswell on 3/15/24.
   Copyright (c) 2024 Bryce Cogswell. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
