name: XCode tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]


jobs:
  test:
    runs-on: macos-latest
    timeout-minutes: 60

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Select newest Xcode
        run: |
          LATEST=$(ls /Applications | grep Xcode_ | sort -V | tail -n 1)
          echo "Using $LATEST"
          sudo xcode-select -s "/Applications/$LATEST/Contents/Developer"

      - name: Get swift version
        run: |
          ls /Applications
          swift --version
          xcodebuild -version
            
      - name: Run Tests on iPhone Simulator
        run: |
          cd src/iOS
          xcodebuild test \
            -scheme GoMapTests \
            -destination 'platform=iOS Simulator,OS=26.1,name=iPhone 17 Pro' \
            -allowProvisioningUpdates \
            OTHER_SWIFT_FLAGS="-Xfrontend -strict-concurrency=minimal"
          xcodebuild test \
            -scheme GoMapUITests \
            -destination 'platform=iOS Simulator,OS=26.1,name=iPhone 17 Pro' \
            -allowProvisioningUpdates \
            OTHER_SWIFT_FLAGS="-Xfrontend -strict-concurrency=minimal"
